.carouselContainer {
  max-width: 1440px;
}

.carouselInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 150px;
  top: 0;
  width: 860px;
  height: 100%;
  max-width: 50%;
}

.carouselInfoBlockBackdrop {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 40px;
}

.carouselTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64px;
}

.carouselText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.carouselLink {
  color: #fff;
  text-decoration: none;
}

.carouselLink:hover {
  text-decoration: underline;
}

.popularity {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.starIcon {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-right: 10px;
}
