.form {
  display: inline-block;
  position: relative;
}

.searchInput {
  width: 475px;
  height: 60px;
  background-color: #4d5162;
  border-radius: 10px;
  outline: none;
  color: #fff;
  font-size: 32px;
  appearance: none;
  padding-left: 10px;
  padding-right: 70px;
}

.searchInput[type="search"]::-webkit-search-decoration,
.searchInput[type="search"]::-webkit-search-cancel-button,
.searchInput[type="search"]::-webkit-search-results-button,
.searchInput[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.searchBtn {
  outline: 0;
  background: transparent;
  position: absolute;
  top: 8px;
  right: 22px;
  border: 0;
  border-radius: 10px;
  width: 45px;
  height: 45px;
}

.searchIcon {
  width: 100%;
  height: 100%;
}
